<div class="emi-container">
  <h2>EMI Details</h2>
  <table class="emi-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emi of emis">
        <td>{{ emi.id }}</td>
        <td>{{ emi.amount | currency :'INR' }}</td>
        <td>{{ emi.date }}</td>
        <td>{{ emi.status }}</td>
        <td>
          <button 
          class="btn btn-success btn-sm" 
          [routerLink]="emi.status === 'PAID' ? null : ['/userdashboard/payment']"
          [queryParams]="emi.status === 'PAID' ? null : { emiId: emi.id, amount: emi.amount }"
          [disabled]="emi.status === 'PAID'">
          {{ emi.status === 'PAID' ? 'PAID' : 'Pay EMI' }}
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
