<div class="landing-page">

  <!-- Header Section -->
  <div class="landing-header">
    <h1 class="landing-title">Explore Our Swift Loan Options</h1>
    <p class="landing-subtitle">Choose the right loan that fits your needs. We offer the best rates and flexible terms.</p>
  </div>


<!-- End of Header -->


<!-- Body of Home Page -->

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/slider1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Personal Loan to Suit Your Needs</h1>
                    <span> The low rate you need for the need you want!</span>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/slider2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Lowest Car Loan Rate <strong style="color:orange"></strong> </h2>
                    <p> We provide an excellent service Loan company.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/slider3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Student Loans with Great Rates <strong style="color:orange">11.10%</strong>
        </h2>
        <p>We provide an excellent service for all types of
            <br> loans in India and offer service, advice and direction.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- How it Works? Cards -->

<section style="background-color:rgb(211, 211, 211,0.2)">
  <div class="container py-5">
      <h3 class="text-center"><b>How does it works?</b></h3>
      <p class="text-center">We have a fast and easy application process.</p>


      <div class="row container-fluid text-center mt-5 pb-3 mx-auto">
          <div class="col-lg-4 col-md-4 col-12 p-3">
              <div class="card work">
                  <div class="card-body">
                      <div class="circle shadow">1</div>
                      <h4 class="card-title">Register and Login</h4>
                      <p class="card-text pt-2"><i class="fa fa-check fa-2x" aria-hidden="true"></i></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 p-3">
              <div class="card work">
                  <div class="card-body">
                      <div class="circle shadow">2</div>
                      <h4 class="card-title">Choose Loan Scheme</h4>
                      <p class="card-text pt-2"><i class="fa fa-institution fa-2x" aria-hidden="true"></i></p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 p-3">
              <div class="card work">
                  <div class="card-body">
                      <div class="circle shadow">3</div>
                      <h4 class="card-title outline">Get Yourself cashed</h4>
                      <p class="card-text pt-2"><i class="fa fa-money fa-2x" aria-hidden="true"></i></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


  <!-- Reasons Cards -->

  
  <!-- End of Cards -->

  <!-- Clients -->

  <section>
      <div class="container mb-4">
          <h3 class="text-center"><b>Our Clients</b></h3>
          <hr>
          <div class="row container-fluid mx-auto">
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 shadow p-2 "><img src="assets/clients.jpg"></div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 shadow p-2 "><img src="assets/client1.jpg"></div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 shadow p-2"><img src="assets/client2.jpg"></div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 shadow p-2"><img src="assets/client3.jpg"></div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 shadow p-2 "><img src="assets/client4.jpg"></div>
              <div class="col-lg-2 col-md-4 col-sm-4 col-6 shadow p-2 "><img src="assets/client5.jpg"></div>
          </div>
      </div>
  </section>

  <!-- End of Clients -->

</div>

  
  <!-- Loan Cards Section -->
  
  


